<h1>Tasks</h1>
<ul>
  <li>Enable the menu entry 'Table'</li>
  <li>Add a headline "Berufsvorschläge" to the table component. Also add two icons to the headline with mouseover texts:
    <ul>
      <li>An information icon: <p><i>Bitte betrachte die Vorschläge nur als Anregung, scrolle gerne nach unten um
            weitere
            Ergebnisse zu finden. Noch wurden nicht alle in Deutschland anerkannten Ausbildungen und Berufen eingestuft.
            Die
            Datenbasis für die Errechnung wird durch die Nutzung jedoch laufend verbessert.

            Du hilfst uns, wenn Du zu den Top 10 oder 20 Vorschlägen bei jedem einzelnen Beruf auf („Mag ich nicht“)
            klickst
            wenn dieser nicht passt.
            Die Berufe die Du dir gut vorstellen kannst, bitte mit („Mag ich“) als Favorit markieren.</i></p>
      </li>
      <li>
        A warning icon: <p><i>Du hast den Fragebogen noch nicht komplett ausgefüllt. Die hier angezeigten
            Berufsvorschläge
            berücksichtigen nur Deine bisherigen Antworten und sind vermutlich noch nicht optimal.</i></p>
      </li>
    </ul>
  </li>
  <li>Provide a wireframe/layout suggestion for a search bar in the table component. Focus on mobile layout. The search
    bar should provide the following items:
    <ul>
      <li>
        A freetext search field
      </li>
      <li>
        The possibility to sort alphabetically (default) or by matching
      </li>
      <li>
        A section to search for addresses. Provide buttons to quickly search for 'Home', 'School' and a custom address.
        In your layout, add a placeholder of appropriate size for a map
      </li>
      <li>
        Filter for categories. By default all categories are displayed. We have these categories:
        <ul>
          <li>Akademische Berufe</li>
          <li>Betriebliche, duale Ausbildung</li>
          <li>Schulische Ausbildung</li>
          <li>Sonstige Ausbildung</li>
        </ul>
      </li>
      <li>
        Filter for jobs with offers. By default all the jobs are displayed.
      </li>
    </ul>
  </li>
</ul>
